@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .section-title {
    @apply text-3xl font-bold mb-6 text-gray-800;
  }
  
  .section-container {
    @apply max-w-6xl mx-auto px-4 py-16;
  }
}
